@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

@import "./common/common";
@import "./variable/variable";
@import "./mixin/font";
@import "./pages/home";
@import "./pages/breadcrumb";
@import "./pages/services";
@import "./pages/contact";
@import "./pages/products";
@import "./pages/clients";
@import "./pages/projects";
@import "./pages/project-details";
@import "./pages/about-us";
@import "./pages/project-details";
@import "./pages/gallery";
@import "./pages/career";
@import "./pages/blog";
@import "./pages/nogor-life";
@import "./pages/training";
