@import "../variable/variable";
@import "../mixin/font";

.career_area {
  padding: 80px 0;
}

.career_area .career_position_main .career_position_item {
  border-radius: 15px;
  background-color: $white;
  height: 100%;

  .text {
    padding: 18px;
  }

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);
}

.career_area .career_position_main .career_position_item .title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  color: $black;
}

.career_area .career_position_main .career_position_item ul li {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-right: 15px;
  color: $black;
  span{
    background-color: $primary;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: $white;
  }
}

.career_area .career_position_main .career_position_item ul li i {
  margin-right: 8px;
  font-size: 5px;
  position: relative;
  top: -3px;
}

.career_area .career_position_main .career_position_item .apply_now {
  color: $primary;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  background-color: transparent;
  border: 0;
}

.career_area .career_position_main .career_position_item .apply_now i {
  margin-left: 8px;
}

.career_details p {
  margin-bottom: 40px;
  color: $black;
  font-size: 15px;
}

.career_details .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.career_details .inner_title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.car_details_main {
  border: 1px solid $border;
  padding: 24px;
  border-radius: 15px;
}

.career_details ul {
  padding-left: 15px;
  margin-bottom: 30px;
}

.career_details ul li {
  margin-bottom: 4px;
  font-size: 15px;
}

.career_details .job_info {
  max-width: 600px;
}

.career_details .job_info table td {
  font-size: 15px;
}

.career_details .send_resume_form {
  margin-top: 0;
}

.career_details .send_resume_form .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  border-bottom: 1px solid $border;
  padding-bottom: 18px;
}

.career_details .apply_btn {
  background-color: $primary;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: $white;
  border: 0;
  padding: 12px 62px;
  border-radius: 50px;
  margin: 0 auto;
}

.career_details .apply_btn:hover {
  background-color: $black;
}

.apply_now_form {
  .car_details_main {
    background-color: $white;
    border: 0;
    padding: 40px;
    box-shadow: 0px 6px 50px rgba(1, 3, 25, 0.06);

    input {
      border-radius: 8px;
    }

    textarea {
      border-radius: 8px;
    }
  }
}