@import "../variable/variable";
@import "../mixin/font";

.contact_area {
  padding: 80px 0;

  .contact_top_info {
    border: 1px solid $border;
    border-radius: 10px;
    padding: 40px 40px;

    .contact_top_info_item {
      .icon {
        width: 72px;
        height: 72px;
        margin-bottom: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF3838;
        color: $white;
        font-size: 30px;
      }

      .text {
        .title {
          @include font(26px, 500);
          color: $black;
          margin-bottom: 20px;
        }

        ul {
          li {
            color: $para;
            @include font(18px, 400);

            a {
              color: $para;
              @include font(18px, 400);

              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }

    .contact_label {
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        right: 90px;
        width: 1px;
        height: 60%;
        transform: translateY(-50%);
        background-color: $border;
        content: "";
      }

      &:last-child {
        &::before {
          display: none;
        }
      }
    }
  }

  .contact_map_form {
    padding-top: 80px;

    .maps {
      height: 665px;

      iframe {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
      }
    }

    .forms {
      max-width: 635px;

      .info {
        margin-bottom: 30px;
        .title {
          @include font(42px, 500);
          color: $black;
          margin-bottom: 10px
        }

        p {
          // @include font()
        }
      }
      
      .submit_btn {
        background-color: $primary;
        @include font(17px, 500);
        color: $white;
        border-radius: 5px;
        padding: 16px 25px;
        width: 100%;
        text-align: center;
        border: 0;

        &:hover {
          background-color: $black;
        }
      }
    }
  }
}

.input_groups{
  label {
    @include font(15px, 500);
    color: $black;
    margin-bottom: 4px;
  }
  input[type="file"]{
    padding-top: 8px;
    padding-left: 8px;
  }
  input,
  textarea {
    width: 100%;
    height: 55px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 20px;
    background-color: #f2f2f2;
    transition: $transition;

    &:focus {
      border-color: $black;
    }
  }

  textarea {
    height: 200px;
    padding: 20px;
  }

}