@import "../variable/variable";
@import "../mixin/font";

.projects_area {
  padding: 80px 0;

  .portfolio-item {
    overflow: hidden;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .09);
    padding: 24px;
    border-radius: 10px;

    .image {
      position: relative;
      overflow: hidden;
      border-radius: 10px;

      img {
        overflow: hidden;
        object-fit: cover;

        &:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: 100%;
          transition: .6s;
          background-size: cover;
        }
      }

      &:hover {
        img {
          &:first-child {
            transform: translateY(0) scaleY(1);
            opacity: 1;
            -webkit-filter: blur(0);
            filter: blur(0);
          }

          &:nth-child(2) {
            transform: translateY(50%) scaleY(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
          }
        }
      }

      .read_more_btn {
        position: absolute;
        bottom: 15px;
        right: 15px;
        background-color: $white;
        width: 44px;
        height: 44px;
        color: $black;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }

    .info {
      margin-top: 20px;

      .projects_title {
        @include font(26px, 500);
        color: $black;

        &:hover {
          color: $primary;
        }
      }

      .category {
        color: $para;
        @include font(15px, 500);

      }
    }
  }
}

.portfolio-btn {
  margin-bottom: 40px;
  text-align: center;

  button {
    border: 0;
    background-color: $black;
    @include font(18px, 500);
    color: $white;
    border-radius: 5px;
    padding: 10px 26px;
    margin: 0 2px;

    &:hover {
      background-color: $primary;
    }
  }

  button.active {
    background-color: $primary;

  }
}