@import "../variable/variable";
@import "../mixin/font";

.services_area {
  padding: 80px 0;

  .services_item {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: rgba(14, 14, 14, .02999);
    padding: 40px 30px;
    transition: $transition;
    display: flex;
    flex-direction: column;

    &::after {
      width: 0;
      height: 0;
      bottom: 0;
      left: -50px;
      content: "";
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: $transition;
      border-bottom: 300px solid rgba(255, 56, 56, .3);
      border-right: 390px solid transparent;
    }

    .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center center !important;
      left: 0;
      visibility: hidden;
      opacity: 0;
      filter: grayscale(1);
      transition: $transition;

      &::before {
        top: 0;
        left: 0;
        width: 100%;
        content: "";
        height: 100%;
        position: absolute;
        background: linear-gradient(0deg, rgba(22, 35, 43, .6) 0, rgba(22, 35, 43, .6) 100%);
      }

    }

    .details {
      position: relative;
      z-index: 9;
      display: flex;
      flex-direction: column;
    }

    .icon {
      position: relative;
      margin-bottom: 15px;

      img {
        transition: $transition;
      }

      &::before {
        z-index: -1;
        top: -10px;
        left: -10px;
        width: 68px;
        content: "";
        height: 68px;
        position: absolute;
        border-radius: 100%;
        opacity: .08;
        transition: $transition;
        background: #FF3838;
      }
    }

    .number {
      opacity: .15;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black;
      top: 0px;
      right: 0px;
      color: $white;
      position: absolute;
      @include font(65px, 700);
      transition: $transition;
    }

    .info_box {
      .title {
        @include font(30px, 500);
        color: $black;
        transition: $transition;
        margin-bottom: 15px;
        line-height: 36px
      }

      p {
        @include font(16px, 400);
        color: $para;
        transition: $transition;
      }
    }

    .read_more_btn {
      margin-top: auto;
      z-index: 9;

      .read_more {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: rgba(255, 56, 56, .08);
        color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-top: 30px;
        transition: $transition;
      }
    }

    &:hover {
      background-color: transparent;

      &::after {
        transition-delay: 0.3s;
        visibility: visible;
        opacity: 1;
        left: 0;
      }

      .overlay {
        visibility: visible;
        opacity: 1;
      }

      .icon {
        img {
          filter: brightness(0) invert(1);
        }

        &::before {
          opacity: 1;
        }
      }

      .number {
        -webkit-text-stroke-color: $white;
        opacity: .8;
      }

      .info_box {
        .title {
          color: $white;
        }

        p {
          color: $white;
        }

      }

      .read_more {
        background-color: $white;
      }
    }
  }
}